<% include ../partials/header %>
<title>Perfil</title>
<% include ../partials/headerCont%>
<% include ../partials/notificaciones%>
<link rel="stylesheet" href="/stylesheets/sidebar.css">
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><a href="/">CULTURAENBOCA</a></li>
      <hr>
      <li><a href="/my-account/articulos">Articulos</a></li>
      <%if(user.rol<=2){%>
      <li><a href="/my-account/eventos">Eventos</a></li>
      <li><a href="/my-account/impactartes">Impactarte</a></li>
      <li><a href="/my-account/proyectartes">Proyectarte</a></li>
      <%}%>
      <li><a href="/my-account/imagenes">Imagenes</li>
      <% if (user.rol==1){%>
      <li><a href="/my-account/users">Usuarios</a></li>
      <%}%>
      <li class="active"><a href="#">Perfil</a></li>
      <li><a href="/logout">Cerrar sesión<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <a href="#menu-toggle" class="btn" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <hr>
      <form id="updateUser" style="font-weight:700" action="/my-account/perfil" method="post">
        <div class="row">
          <div id="fotoPerfil" class="col-4" style="text-align:center; font-size:110px">
            <img id="imgPerfil" class=" img-fluid rounded" src="<%=user.ruta%>" alt="<%=user.texto_alternativo%>">
            <div class="perfilOverlay">
              <button id="portadaBtn" data-toggle="modal" data-target="#seleccionarPortada" type="button" class="btn btn-dark"><i class='fa fa-image'></i> Cambiar foto</button>
            </div>
            <div class="modal fade" id="seleccionarPortada" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Selecciona la imagen que quieres añadir</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body container-fluid">
                    <div class="card-columns">

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button id="anadirImgPerfil" type="button" data-dismiss="modal" class="btn btn-primary">Añadir imagen</button>
                  </div>
                </div>
              </div>
            </div>
            <input id="img" type="hidden" name="img" value="<%=user.img%>">
          </div>
          <div class="col-12 col-md-5">
            <div class="form-group">
    					<label for="name">Nombre</label>
    					<input class="form-control" type="text" name="name" required pattern=".{0,30}" required title="El nombre no puede tener más de 30 caracteres" value="<%=user.name%>">
    				</div>
    				<div class="form-group">
    					<label for="surname">Apellidos</label>
    					<input class="form-control" type="text" name="surname" pattern=".{0,30}" title="El apellido no puede tener más de 30 caracteres" value="<%=user.surname%>">
    				</div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group row">
              <label class="col-3 col-form-label" for="email">E-mail</label>
              <div class="col-12 col-md-9">
                <input class="form-control" id="email" type="email" name="email" required value="<%=user.email%>">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group row">
                <label class="col-4 col-form-label" for="password">Contraseña</label>
                <div class="col-12 col-md-8">
                  <input class="form-control" type="password" name="password" pattern=".{8.60}" title="La contraseña debe tener entre 8 y 60 caracteres">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label" for="password-confirm">Confirmar Contraseña</label>
                <div class="col-12 col-md-8">
                  <input class="form-control" type="password"  name="password-confirm">
                </div>
              </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="color">Color personal</label>
            <input type="color" name="color" value="<%=user.color%>">
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <div>
              <label for="description">Presentación <span style="font-weight:400"></span></label>
            </div>
            <textarea name="description" rows="6" cols="80" spellcheck="true" style="resize:none" maxlength="1000"><%=user.description%></textarea>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-12 col-sm-4" style="text-align:right">
              <button class="btn btn-lg btn-primary bold"type="submit" name="submitButton"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Guardar cambios</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>
<script type="text/javascript" src="/js/formvalidation.js"></script>
<% include ../partials/footer %>
