<% include ../partials/header %>
<title><%=articulo.titulo%></title>
<meta property="og:title" content="<%=articulo.titulo%>" />
<meta property="og:description" content="<%=articulo.descripcion.substring(0,200)%>"/>
<meta property="og:type" content="article" />
<% if (articulo.categoria) {%>
<meta property="og:url" content="https://www.culturaenboca.com/<%=categoria.categoria%>/<%=encodeURIComponent(articulo.titulo.split(' ').join('_'))%>" />
<%} else {%>
<meta property="og:url" content="https://www.culturaenboca.com/entradas-recientes/<%=encodeURIComponent(articulo.titulo.split(' ').join('_'))%>" />
<% } %>
<meta property="og:image" content="https://www.culturaenboca.com<%=articulo.ruta%>" />
<% include ../partials/headerCont%>
<%if(articulo.autores.length===1 && color !== "#000000"){%>
  <style media="screen">
    b, strong, a, a:hover, a:visited, a:active{
      color: <%=color%>;
    }
  </style>
<%}%>
<div class="header container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <% include ../partials/navegacion%>
    </div>
    <div class="col-md-4 d-md-block d-none">
      <% include ../partials/redesSociales%>
    </div>
    <div class="col-md-12">
      <div class="titulo pagina">
        <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
        <span class="lines"><%=articulo.titulo%></span>
      </div>
    </div>
    <% if (articulo.subtitulo) {%>
      <div class="col col-12">
        <div class="subtitulo pagina">
          <%= articulo.subtitulo %>
        </div>
      </div>
    <% } %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="articulo">
        <%- articulo.articulo %>
      </div>
      <div>
        <div class="row justify-content-center">
          <% articulo.autores.forEach(function(autor){ %>
            <div class="col-12 card-articulo">
              <div class="row">
                <div class="col-12 col-lg-3" style="background-image:url('<%=autor.ruta%>')">
                  <!-- <img class="img-fluid" src="<%=autor.ruta%>" alt="<%=autor.texto_alternativo%>"> -->
                </div>
                <div class="col-12 col-lg-9">
                  <div>
                    <img src="/images/assets/puntiko_eventos.png" alt="Punto azul">
                    <span class="underline bold"><%=autor.name%> <%=autor.surname%></span>
                  </div>
                  <div>
                    <%= autor.description %>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <div>
        <div id="disqus_thread"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "articulo/"+<%=articulo.ID%>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://culturaenboca.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script type="text/javascript" src="/js/jquery.jslatex.js"></script>
<script type="text/javascript">
$(function () {
  $(".latex").latex();
});
</script>
<% include ../partials/footerVisible%>
<% include ../partials/avisos%>
<% include ../partials/footer %>
