<% include ../partials/header %>
<title><%=categoria.categoria%></title>
<% include ../partials/headerCont%>
<div class="header container-fluid">
  <div class="row">
    <div class="col col-md-4 col-12 align-self-center">
      <% include ../partials/navegacion%>
    </div>
    <div class="col col-md-4">
      <div class="titulo pagina">
        <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
        <span class="lines"><%=categoria.categoria%></span>
      </div>
    </div>
    <div class="col-md-4 d-md-block d-none">
      <% include ../partials/redesSociales%>
    </div>
    <div class="col col-12">
      <div class="subtitulo pagina">
        Todos los artículos
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class=" col-12 col-sm-11 row justify-content-center">
    <%if (articulos.length){ %>
      <% articulos.forEach(function(articulo){ %>
        <div class="col-12 card-articulo">
          <a href="/informarte/<%=encodeURIComponent(articulo.titulo.split(' ').join('_'))%>" class="nlink">
            <div class="row">
              <div class="col-12 col-md-3" style="background-image:url('<%=articulo.ruta%>')">
                <!-- <img class="img-fluid" src="<%=articulo.ruta%>" alt="<%=articulo.texto_alternativo%>"> -->
              </div>
              <div class="col-12 col-md-9">
                <div>
                  <span class="underline bold" style="text-align:left"><%=articulo.titulo %></span>
                </div>
                <div>
                  <span class="bold"><%=articulo.autores %></span>
                </div>
                <div>
                  <%=articulo.descripcion%>...
                </div>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    <% } else { %>
      <div class="col-12">
        <div class="big-message">
          NO HAY NINGÚN ARTICULO SOBRE ESTE TEMA  <i class="fa fa-frown-o" aria-hidden="true"></i>
        </div>
      </div>
    <% } %>
  </div>
</div>
<% include ../partials/footerVisible%>
<% include ../partials/avisos%>
<% include ../partials/footer %>
