<div class="container-fluid" style="text-align:right; font-weight:700; margin-top:3%; font-size:calc(11px + 0.5vw);">
  <a style="margin-left:2%"class="nlink" href="/contacto">Contacto</a>
  <a style="margin-left:2%"class="nlink" href="/terminosycondiciones">Términos y condiciones  </a>
  <a style="margin-left:2%"class="nlink" href="/avisolegal">Aviso legal</a>
</div>
