<div class="editorToolbar">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar con los botones del editor de texto">
    <div class="btn-group mr-2" role="group" aria-label="controles de deshacer y rehacer">
      <button data-command ='undo' type="button" class="btn btn-light"><i class="fa fa-undo" aria-hidden="true"></i></button>
      <button data-command ='redo' type="button" class="btn btn-light"><i class="fa fa-repeat" aria-hidden="true"></i></button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Controles de texto">
      <button data-command ='bold' type="button" class="btn btn-light"><i class="fa fa-bold" aria-hidden="true"></i></button>
      <button data-command ='italic' type="button" class="btn btn-light"><i class="fa fa-italic" aria-hidden="true"></i></button>
      <button data-command ='underline' type="button" class="btn btn-light"><i class="fa fa-underline" aria-hidden="true"></i></button>
      <button data-command ='strikeThrough' type="button" class="btn btn-light"><i class="fa fa-strikethrough" aria-hidden="true"></i></button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Justificacion de texto">
      <button data-command ='justifyLeft' type="button" class="btn btn-light"><i class='fa fa-align-left'></i></button>
      <button data-command ='justifyCenter' type="button" class="btn btn-light"><i class='fa fa-align-center'></i></button>
      <button data-command ='justifyRight' type="button" class="btn btn-light"><i class='fa fa-align-right'></i></button>
      <button data-command ='justifyFull' type="button" class="btn btn-light"><i class='fa fa-align-justify'></i></button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Indentación">
      <button data-command ='indent' type="button" class="btn btn-light"><i class='fa fa-indent'></i></button>
      <button data-command ='outdent' type="button" class="btn btn-light"><i class='fa fa-outdent'></i></button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Indentación">
      <button data-command ='insertUnorderedList' type="button" class="btn btn-light"><i class='fa fa-list-ul'></i></button>
      <button data-command ='insertOrderedList' type="button" class="btn btn-light"><i class='fa fa-list-ol'></i></button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Resto">
      <select id="encabezados" class=" btn btn-light form-control" name="Encabezados">
        <option data-command='h1'>H1</option>
        <option data-command='h2'>H2</option>
        <option data-command='h3'>H3</option>
        <option data-command='h4'>H4</option>
        <option data-command='h5'>H5</option>
        <option data-command='h6'>H6</option>
        <option data-command="P" selected>P</option>
      </select>
      <button data-command ='createlink' type="button" class="btn btn-light"><i class='fa fa-link'></i></button>
      <button data-command ='unlink' type="button" class="btn btn-light"><i class='fa fa-unlink'></i></button>
      <button id="imagen" data-toggle="modal" data-target="#seleccionarImagen" type="button" class="btn btn-light"><i class='fa fa-image'></i></button>
      <button id="gallery" data-toggle="modal" data-target="#seleccionarGaleria" type="button" class="btn btn-light"><i class="fa fa-th-large" aria-hidden="true"></i></button>
      <button id="insertHTML" type="button" class="btn btn-light"><i class="fa fa-code" aria-hidden="true"></i></button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Indices">
      <button data-command ='subscript' type="button" class="btn btn-light"><i class='fa fa-subscript'></i></button>
      <button data-command ='superscript' type="button" class="btn btn-light"><i class='fa fa-superscript'></i></button>
      <button id="latex" type="button" class="btn btn-light">Tex</button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="seleccionarImagen" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecciona la imagen que quieres añadir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container-fluid">
        <div class="card-columns">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="anadirImg" type="button" data-dismiss="modal" class="btn btn-primary">Añadir imagen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="seleccionarGaleria" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecciona las imagenes que quieres añadir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container-fluid">
        <div class="card-columns">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="anadirGallery" type="button" data-dismiss="modal" class="btn btn-primary">Añadir imagen</button>
      </div>
    </div>
  </div>
</div>
