<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col col-sm-4 col-12">
        <a class="nlink" href="/queEsCulturaenboca">
          <div class="subtitulo row no-gutters align-items-center">
            <div class="col-2"><img class="img-fluid" src="/images/assets/que_es.png" alt="Simbolos de interrogación dentro de un circulo"></div>
            <div class="col-10" style="padding-left:1vw;">
                <span class="underline">¿Qué es Culturaenboca?</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col col-sm-4 col-12">
        <a class="nlink" href="/quienesSomos">
          <div id="qsomos" class="subtitulo row no-gutters align-items-center">
            <div class="col-10" style="padding-right:1vw;">
              <span class="underline">¿Quiénes somos?</span>
            </div>
            <div class="col-2"><img class="img-fluid"src="/images/assets/quienes_somos.png" alt="Personas dentro de un circulo"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
