<div class="btn-group">
    <a href="/" class="btn btn-outline-cultura" style="font-size: calc(20px + 0.7vw)"><i class="fa fa-home" aria-hidden="true"></i> <span class="sr-only">Volver
            a página principal</span></a>
    <button type="button" class="btn btn-outline-cultura dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="sr-only">Mostrar navegación</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/informarte"><strong>Informarte</strong></a>
        <a class="dropdown-item" href="/proyectartes"><strong>Proyectarte</strong></a>
        <a class="dropdown-item" href="/impactartes"><strong>Impactarte</strong></a>
    </div>
</div>