<div class="panel-notificaciones">
  <div class="row justify-content-end">
    <div id="notificaciones" class="col-12 col-sm-6 col-md-4">
      <% if (errors) { %>
        <% errors.forEach(function(error){%>
          <div class="alert alert-danger fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> | Error</h4>
            <hr>
            <%= error %>
          </div>
        <%})%>
      <%}%>
      <% if (successes) { %>
        <% successes.forEach(function(success){%>
          <div class="alert alert-success fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4><i class="fa fa-check-circle" aria-hidden="true"></i> | Éxito</h4>
            <hr>
            <%= success %>
          </div>
        <%})%>
      <%}%>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(.alert).alert();
</script>
