<% include ../../partials/header %>
<title>Eventos</title>
<% include ../../partials/headerCont %>
<% include ../../partials/notificaciones %>
<link rel="stylesheet" href="/stylesheets/sidebar.css">
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><a href="/">CULTURAENBOCA</a></li>
      <hr>
      <li><a href="/my-account/articulos">Articulos</a></li>
      <%if(rol<=2){%>
      <li class="active"><a href="#">Eventos</a></li>
      <li><a href="/my-account/impactartes">Impactarte</a></li>
      <li><a href="/my-account/proyectartes">Proyectarte</a></li>
      <%}%>
      <li><a href="/my-account/imagenes">Imagenes</li>
      <%if(rol==1){%>
      <li><li><a href="/my-account/users">Usuarios</a></li></li>
      <%}%>
      <li><a href="/my-account/perfil">Perfil</a></li>
      <li><a href="/logout">Cerrar sesión<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <a href="#menu-toggle" class="btn" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <div class="row justify-content-center">
        <% if (eventos.length) { %>
          <%eventos.forEach(function(evento){ %>
            <div class="col-12 col-md-6">
              <div class="card">
                <img class="card-img-top" src="<%=evento.ruta%>" alt="<%=evento.texto_alternativo%>">
                <div class="card-body">
                  <h4 class="card-title"><%=evento.titulo%></h4>
                  <h6 class="card-title"><%=evento.fecha%></h6>
                  <p class="card-text"><%-evento.info.substring(0,140) %>...</p>
                  <hr>
                  <div style="text-align:right">
                    <a href="<%=evento.link%>" class="btn btn-info">LINK</a>
                    <a href="/my-account/eventos/edit/<%=evento.ID%>" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <% if (!evento.publicado){ %>
                      <form style="display:inline-block" action="/my-account/eventos/<%=evento.ID%>?_method=PUT" method="post">
                        <input type="hidden" name="publish" value="1">
                        <button type="submit" class="btn btn-success"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                      </form>
                    <%} else {%>
                      <form style="display:inline-block"action="/my-account/eventos/<%=evento.ID%>?_method=PUT" method="post">
                        <input type="hidden" name="publish" value="0">
                        <button type="submit" class="btn btn-warning"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                      </form>
                    <%}%>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal<%=evento.ID%>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div id="deleteModal<%=evento.ID%>" class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">¿Seguro que quieres borrar este evento?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Si borras este evento se perderan sus datos para siempre</p>
                  </div>
                  <div class="modal-footer">
                    <form action="/my-account/eventos/<%=evento.ID%>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Si, borrar</button>
                    </form>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No, cancelar</button>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          <% } else { %>
        <div class="col-12">
          <div class="big-message">
            NO HAS APORTADO NINGÚN EVENTO <i class="fa fa-frown-o" aria-hidden="true"></i>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="fixed-bottom">
    <a class="nlink" href="/my-account/eventos/new"><i class="fa fa-plus-circle" aria-hidden="true"></i></i></a>
  </div>
</div>
<script src="/js/sidebar.js"></script>
<% include ../../partials/footer %>
