<% include ../../partials/header %>
<title>Nuevo evento</title>
<% include ../../partials/headerCont %>
<div class="fixed-top">
  <a class="nlink" href="/my-account/eventos"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-md-4 col-sm-6">
      <div class="titulo pagina">
        <span class="lines">REDACT<span class="enfasis">ARTE</span></span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <form  id="editor" action="/my-account/eventos" method="post">
    <div class="form-group">
      <label for="titulo">Título (Máx 255 caracteres)</label>
      <input class="form-control" type="text" name="evento[titulo]" required>
    </div>
    <div class="form-group">
      <label for="portada">Imagen de portada</label>
      <input id="portada" type="hidden" name="evento[portada]" value="1">
      <button id="portadaBtn" data-toggle="modal" data-target="#seleccionarPortada" type="button" class="btn btn-light"><i class='fa fa-image'></i></button>
      <div class="modal fade" id="seleccionarPortada" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Selecciona la imagen que quieres añadir</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body container-fluid">
              <div class="card-columns">

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button id="anadirPortada" type="button" data-dismiss="modal" class="btn btn-primary">Añadir imagen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="fecha_int">Fecha</label>
        <input class="form-control" type="date" name="evento[fecha_int]">
      </div>
      <div class="col">
        <label for="fecha">Fecha para mostrar</label>
        <input class="form-control" type="text" name="evento[fecha]">
      </div>
    </div>
    <div class="form-group">
      <label for="link">Link al evento</label>
      <input class="form-control" type="text" name="evento[link]">
    </div>
    <div class="form-row">
      <div class="col">
        <label for="lugar">Lugar</label>
        <input class="form-control" type="text" name="evento[lugar]">
      </div>
      <div class="col">
        <label for="precio">Precio</label>
        <input class="form-control" type="text" name="evento[precio]">
      </div>
    </div>
    <input id="publish" type="hidden" name="evento[publish]">
    <input id="articulo" type="hidden" name="evento[info]">
    <div id="editorArticulo" class="editor">
    </div>
    <div id="contenido" class="editingSpace short" contenteditable="true"></div>
    <div class="row">
      <div class="col-12 row justify-content-end" style="text-align: right; margin-bottom: 2%;">
        <div class="col-4 col-md-1">
          <button id="save" type="button" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
        </div>
        <div class="col-4 col-md-2">
          <button id="publishB" type="button" class="btn btn-success"><i class="fa fa-arrow-up" aria-hidden="true"></i> Publicar</button>
        </div>
        <div class="col-4 col-md-1">
          <button id="cancel" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exitModal"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="exitModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Seguro que quieres salir?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Si sales de esta página se perderán los cambios realizados</p>
      </div>
      <div class="modal-footer">
        <a href="/my-account/eventos" class="btn btn-danger">Si, salir</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, quedarme</button>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/aviso %>
<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>
<% include ../../partials/footer %>
