<% include partials/header %>
<title><%=autor.name+" "+autor.surname%></title>
<% include partials/headerCont%>
<div class="header container-fluid">
  <div class="row">
    <div class="col col-md-3 col-12 align-self-center">
        <% include partials/navegacion%>
    </div>
    <div class="col col-md-6">
      <div class="titulo pagina">
        <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
        <span class="lines"><%=autor.name+" "+autor.surname%></span>
      </div>
    </div>
    <div class="col-md-3 d-md-block d-none">
      <% include partials/redesSociales%>
    </div>
  </div>
</div>
<% if(articulos.length > 0) {%>
    <div class="row justify-content-center">
            <h2 class="titulo quienesSomos">ARTÍCULOS</h2>
            <div class=" col-12 col-sm-11 row justify-content-center">
                  <% articulos.forEach(function(articulo){ %>
                  <div class="col-12 card-articulo">
                      <a href="/informarte/<%=encodeURIComponent(articulo.titulo.split(' ').join('_'))%>" class="nlink">
                      <div class="row">
                          <div class="col-12 col-md-3" style="background-image:url('<%=articulo.ruta%>')">
                          <!-- <img class="img-fluid" src="<%=articulo.ruta%>" alt="<%=articulo.texto_alternativo%>"> -->
                          </div>
                          <div class="col-12 col-md-9">
                          <div>
                              <span class="underline bold" style="text-align:left"><%=articulo.titulo %></span>
                          </div>
                          <div>
                              <span class="bold"><%=articulo.autores %></span>
                          </div>
                          <div>
                              <%=articulo.descripcion%>...
                          </div>
                          </div>
                      </div>
                      </a>
                  </div>
                  <% }); %>
            </div>
          </div>
<% } %>
<% if(impactartes.length > 0) {%>
    <div class="row justify-content-center">
            <h2 class="titulo quienesSomos">IMPACTARTES</h2>
            <div class=" col-12 col-sm-11 row justify-content-center">
                  <% impactartes.forEach(function(articulo){ %>
                  <div class="col-12 card-articulo">
                      <a href="/impactartes/<%=encodeURIComponent(articulo.titulo.split(' ').join('_'))%>" class="nlink">
                      <div class="row">
                          <div class="col-12 col-md-3" style="background-image:url('<%=articulo.ruta%>')">
                          <!-- <img class="img-fluid" src="<%=articulo.ruta%>" alt="<%=articulo.texto_alternativo%>"> -->
                          </div>
                          <div class="col-12 col-md-9">
                          <div>
                              <span class="underline bold" style="text-align:left"><%=articulo.titulo %></span>
                          </div>
                          <div>
                              <%=articulo.descripcion%>...
                          </div>
                          </div>
                      </div>
                      </a>
                  </div>
                  <% }); %>
            </div>
          </div>
<% } %>
<% if(proyectartes.length > 0) {%>
    <div class="row justify-content-center">
            <h2 class="titulo quienesSomos">PROYECTARTES</h2>
            <div class=" col-12 col-sm-11 row justify-content-center">
                  <% proyectartes.forEach(function(articulo){ %>
                  <div class="col-12 card-articulo">
                      <a href="/impactartes/<%=encodeURIComponent(articulo.titulo.split(' ').join('_'))%>" class="nlink">
                      <div class="row">
                          <div class="col-12 col-md-3" style="background-image:url('<%=articulo.ruta%>')">
                          <!-- <img class="img-fluid" src="<%=articulo.ruta%>" alt="<%=articulo.texto_alternativo%>"> -->
                          </div>
                          <div class="col-12 col-md-9">
                          <div>
                              <span class="underline bold" style="text-align:left"><%=articulo.titulo %></span>
                          </div>
                          <div>
                              <%=articulo.descripcion%>...
                          </div>
                          </div>
                      </div>
                      </a>
                  </div>
                  <% }); %>
            </div>
          </div>
<% } %>
<% include partials/footerVisible%>
<% include partials/avisos%>
<% include partials/footer %>
