<% include partials/header%>
<title>Categorias</title>
<% include partials/headerCont%>
<% include partials/notificaciones%>
  <div class=" header container-fluid">
    <div class="row">
      <div class="col col-md-4 col-12 align-self-center">
        <% include partials/navegacion%>
      </div>
      <div class="col col-md-4 col-sm-6">
        <div class="titulo pagina">
          <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
          <span class="lines">INFORM<span class="enfasis">ARTE</span></span>
        </div>
      </div>
      <div class="col-md-4 d-md-block d-none">
        <% include partials/redesSociales%>
      </div>
      <div class="col col-12">
        <div class="subtitulo pagina">
          Lista de Materias
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <% categorias.forEach(function(categoria){ %>
        <div class="col-6 col-md-4 col-lg-3">
          <a href="/categorias/<%= categoria.categoria %>">
            <div class="card materias text-white">
              <img class="card-img" src="/images/assets/MANCHA<%=Math.floor(Math.random()*5+1)%>.png" alt="Imagen de una mancha">
              <div class="card-img-overlay">
                <p class="card-title title-materia"><%= categoria.categoria%></p>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
      </div>
    </div>
<% include partials/footerVisible%>
<% include partials/avisos%>
<% include partials/footer%>
