<% include partials/header %>
<title>Eventos</title>
<% include partials/headerCont%>
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-4 col-12 align-self-center">
        <% include partials/navegacion%>
    </div>
    <div class="col col-md-4">
      <div class="titulo pagina">
        <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
        <span class="lines">Eventos</span>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class=" col-12 col-sm-8 row justify-content-center">
    <%if (eventos.length){ %>
      <% eventos.forEach(function(evento){ %>
        <div class="col-12 card-articulo">
          <a target="_blank" <%if(evento.link){%>href="<%=evento.link%>"<%}%> class="nlink">
            <div class="row align-items-center">
              <div class="col-12 col-md-4">
                <img class="img-fluid" src="<%=evento.ruta%>" alt="<%=evento.texto_alternativo%>">
              </div>
              <div class="col-12 col-md-8">
                <div>
                  <img src="/images/assets/puntiko_eventos.png" alt="Punto azul">
                  <span class="underline bold"><%=evento.titulo %></span>
                </div>
                <div>
                  <span class="bold"><%=evento.fecha%></span>
                </div>
                <div>
                  <%-evento.info %>
                </div>
                <div>
                  <span class="bold">Lugar: </span><%=evento.lugar%>
                </div>
                <div>
                  <span class="bold">Precio: </span><%=evento.precio%>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    <% } else { %>
      <div class="col-12">
        <div class="big-message">
          ESTAMOS SIN PLAN <i class="fa fa-frown-o" aria-hidden="true"></i>
        </div>
      </div>
    <% } %>
  </div>
</div>
<% include partials/avisos%>
<% include partials/footer %>
