<% include partials/header%>
<title>Informarte</title>
<% include partials/headerCont%>
<% include partials/notificaciones%>
<div class=" header container-fluid">
    <div class="row">
        <div class="col col-md-4 col-12 align-self-center">
            <% include partials/navegacion%>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="titulo pagina">
                <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
                <span class="lines">INFORM<span class="enfasis">ARTE</span></span>
            </div>
        </div>
        <div class="col-md-4 d-md-block d-none">
            <% include partials/redesSociales%>
        </div>
        <div class="col col-12">
            <div class="subtitulo pagina">
                Artículos recientes
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row justify-content-center mt-4">
    <div class=" col-12 col-sm-11 row justify-content-center">
        <%if (articulos.length){ %>
        <div class="grid-recientes logodown">
            <div class="grid-recientes-element square" style="background-image:url('<%=articulos[6].ruta%>')">
                <a href="/informarte/<%=encodeURIComponent(articulos[6].titulo.split(' ').join('_'))%>" class="nlink">
                    <p class="title" style="color:white">
                        <%=articulos[6].titulo%>
                    </p>
                    <div class="description">
                        <p>
                            <%=articulos[6].titulo%>
                        </p>
                        <%=articulos[6].descripcion%>
                    </div>
                </a>
            </div>
            <div class="grid-recientes-element big" style="background-image:url('<%=articulos[1].ruta%>')">
                <a href="/informarte/<%=encodeURIComponent(articulos[1].titulo.split(' ').join('_'))%>" class="nlink">
                    <p class="title" style="color:white">
                        <%=articulos[1].titulo%>
                    </p>
                    <div class="description">
                        <p>
                            <%=articulos[1].titulo%>
                        </p>
                        <%=articulos[1].descripcion%>
                    </div>
                </a>
            </div>
            <div class="grid-recientes-element long" style="background-image:url('<%=articulos[2].ruta%>')">
                <a href="/informarte/<%=encodeURIComponent(articulos[2].titulo.split(' ').join('_'))%>" class="nlink">
                    <p class="title" style="color:white">
                        <%=articulos[2].titulo%>
                    </p>
                    <div class="description">
                        <p>
                            <%=articulos[2].titulo%>
                        </p>
                        <%=articulos[2].descripcion%>
                    </div>
                </a>
            </div>
            <div class="grid-recientes-element square" style="background-image:url('<%=articulos[5].ruta%>')">
                <a href="/informarte/<%=encodeURIComponent(articulos[5].titulo.split(' ').join('_'))%>" class="nlink">
                    <p class="title" style="color:white">
                        <%=articulos[5].titulo%>
                    </p>
                    <div class="description">
                        <p>
                            <%=articulos[5].titulo%>
                        </p>
                        <%=articulos[5].descripcion%>
                    </div>
                </a>
            </div>
            <div class="grid-recientes-element big" style="background-image:url('<%=articulos[0].ruta%>')">
                <a href="/informarte/<%=encodeURIComponent(articulos[0].titulo.split(' ').join('_'))%>" class="nlink">
                    <p class="title" style="color:white">
                        <%=articulos[0].titulo%>
                    </p>
                    <div class="description">
                        <p>
                            <%=articulos[0].titulo%>
                        </p>
                        <%=articulos[0].descripcion%>
                    </div>
                </a>
            </div>
            <div class="grid-recientes-element long" style="background-image:url('<%=articulos[3].ruta%>')">
                <a href="/informarte/<%=encodeURIComponent(articulos[3].titulo.split(' ').join('_'))%>" class="nlink">
                    <p class="title" style="color:white">
                    <%=articulos[3].titulo%>
                <p>
                <div class="description">
                    <p>
                        <%=articulos[3].titulo%>
                    </p>
                    <%=articulos[3].descripcion%>
                </div>
                </a>
            </div>
            <div class="grid-recientes-element square" style="background-image:url('<%=articulos[4].ruta%>')">
                <a href="/informarte/<%=encodeURIComponent(articulos[4].titulo.split(' ').join('_'))%>" class="nlink">
                    <p class="title" style="color:white">
                        <%=articulos[4].titulo%>
                    </p>
                    <div class="description">
                        <p>
                            <%=articulos[4].titulo%>
                        </p>
                        <%=articulos[4].descripcion%>
                    </div>
                </a>
            </div>
        </div>
        <% articulos.forEach(function(articulo){ %>
        <div class="col-12 card-articulo logoup">
            <a href="/entradas-recientes/<%=encodeURIComponent(articulo.titulo.split(' ').join('_'))%>" class="nlink">
                <div class="row">
                    <div class="col-12 col-md-3" style="background-image:url('<%=articulo.ruta%>')">
                        <!-- <img class="img-fluid" src="<%=articulo.ruta%>" alt="<%=articulo.texto_alternativo%>"> -->
                    </div>
                    <div class="col-12 col-md-9">
                        <div>
                            <span class="underline bold" style="text-align:left">
                                <%=articulo.titulo %></span>
                        </div>
                        <div>
                            <span class="bold">
                                <%=articulo.autores %></span>
                        </div>
                        <div>
                            <%=articulo.descripcion%>...
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <% }); %>
        <% } else { %>
        <div class="col-12">
            <div class="big-message">
                NO HAY NINGÚN ARTICULO PUBLICADO <i class="fa fa-frown-o" aria-hidden="true"></i>
            </div>
        </div>
        <% } %>
    </div>
    <div class="col-12">
        <div class="subtitulo" style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 2rem;">
            <span class="underline"><a class="nlink" href="/categorias">Categorias</a></span>
            <img src="/images/assets/puntiko_eventos.png" alt="Punto azul">
            <span class="underline"><a class="nlink" href="/informarte/articulos">Todos los artículos</a></span>
        </div>
    </div>
</div>
<% include partials/footerVisible%>
<% include partials/avisos%>
<% include partials/footer%>