<% include partials/header%>
<title>Culturaenboca</title>
<meta name="keywords" content="culturaenboca, ciencias, letras, humanidades, artes, unión, especialización, eventos, proyectos, cultura, jóvenes"/>
<meta name="description" content="Unidxs para aprender, comprender y crear una nueva visión de la cultura donde todxs podamos crecer, descubrir y cooperar por el camino. Entra y conócenos."/>
<meta name="og:title" content="Culturaenboca"/>
<meta name="og:description" content="Unidxs para aprender, comprender y crear una nueva visión de la cultura donde todxs podamos crecer, descubrir y cooperar por el camino. Entra y conócenos."/>
<meta name="og:url" content="https://www.culturaenboca.com/"/>
<meta property="og:site_name" content="culturaenboca"/>

<% include partials/headerCont%>
  <div class="container-fluid">
    <% include partials/redesSociales%>
  </div>
  <div class="container-fluid">
    <div id="titulo-pagina">
      <h1>CULTURAENBOCA</h1>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 logoup">
        <div class="center">
          <img class="img-fluid" src="/images/assets/logo.png" alt="Logo de cultura en boca, boca salibando">
        </div>
      </div>
      <div class="col-md-4 col-8">
        <div class="titulo landing">
          <span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="En INFORMARTE encontrarás artículos divulgativos que tienen como objetivo acercarte cada una de las ramas del conocimiento" >
            <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
            <a class="nlink" href="/informarte">INFORM<span class="enfasis">ARTE</span></a>
            <!-- <a data-toggle="collapse" class="nlink" href="#expandir" aria-expanded="false" aria-controls="expandir">INFORM<span class="enfasis">ARTE</span></a>
            <div class="collapse" id="expandir">
              <div class="row">
                <div class="col-12">
                  <div class="subtitulo">
                    <span class="underline"><a class="nlink" href="/eventos">Eventos</a></span>
                    <img src="/images/assets/puntiko_eventos.png" alt="Punto azul">
                    <span class="underline"><a class="nlink" href="/categorias">Artículos</a></span>
                  </div>
                </div>
              </div>
            </div> -->
          </span>
        </div>
      </div>
      <div class="col col-md-4 col-12 logodown">
        <div class="center">
          <img src="/images/assets/logo.png" alt="Logo de cultura en boca, boca salibando">
        </div>
      </div>
      <div class="col-md-4 col-8">
        <div class="titulo landing">
          <span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="IMPACTARTE es un lugar de creación, expresión y contacto con el mundo del arte. Aquí encotrarás nuestras performance, proyectos audiovisuales y demás trabajos que tienen como objetivo lo que su nombre indica: impactarte.">
            <a class="nlink" href="/impactartes"><img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
            IMPACT<span class="enfasis">ARTE</span></a>
          </span>
        </div>
      </div>
      <div class="col-md-12 col-8">
        <div id="proyect" class="titulo landing">
          <span data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="PROYECTARTE es un espacio virtual donde conocer, a través de entrevistas, diversos proyectos de gente joven que están surgiendo y consolidandose.">
            <a class="nlink" href="/proyectartes"><img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
            PROYECT<span class="enfasis">ARTE</span></a>
          </span>
        </div>
      </div>
    </div>
  </div>
<% include partials/footerVisible%>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<% include partials/avisos%>
<% include partials/footer%>
