<% include partials/header%>
<title>¿Qué es culturaenboca?</title>
<% include partials/headerCont%>
    <div class="fixed-top">
      <% include partials/navegacion%>
    </div>
    <div class=" header container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-4 d-md-block d-none"></div>
        <div class="col col-md-4 col-sm-6">
          <div class="titulo pagina">
            <span class="lines">¿QUÉ ES CULTURAENBOCA?</span>
          </div>
        </div>
        <div class="col-md-4 d-md-block d-none">
          <% include partials/redesSociales%>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="articulo">
        <p>Es una página multidisciplinar que trata de unir letras, artes, ciencias y aquellas disciplinas que quedan fuera de estos encuadres, mediante de proyectos tanto personales como cooperativos que se traducen en artículos, publicación de eventos, trabajos audiovisuales y acciones a pie de calle.</p>

        <p>Es un proyecto realizado por <strong>jóvenes</strong> que expresan (a través de la escritura y de los proyectos artísticos) información unida a su perspectiva del mundo y que, a su vez, proyectan a <strong>jóvenes</strong> que tienen algo que innovador que mostrar, posibilitando que tengan un espacio para darse a conocer. </p>

        <p>Por tanto, culturaenboca se define como una página informativa, formativa y como un medio creador de reflexión y de proyección.</p>

        <p>Surgimos de un vacío en la difusión de «cultura joven», de la necesidad de compartir información, de las ganas de aunar disciplinas que han quedado separadas de manera sistemática (aunque estudiemos algo concreto no quiere decir que solo nos interese esa área, ni que solo podamos dedicarnos a esa materia, ni que no sepamos desarrollarnos en otros ámbitos). Estamos aquí para demostrar/nos que nada de «generación perdida»… en culturaenboca cooperamos para crecer, nos unimos para aprender, crear e innovar.</p>

        <p>Nos diferenciamos de otros medios al unir en una misma página <strong>artículos</strong> divulgativos escritos de una manera reflexiva y rigurosa; <strong>proyectos artísticos</strong> creados por los agentes de la propia página y colaboradoras/es; y por habilitar un espacio para la <strong>proyección</strong> de otrxs jóvenes, facilitando que puedan exponer su trabajo y de esta forma darlo a conocer.</p>

        <p><strong>culturaenboca</strong> no pretende existir como referente dogmático, sino como posibilitador de perspectivas. No pretendemos hacernos pasar por objetivos, sino manifestarnos como claramente subjetivos. No queremos especializarnos, sino diversificarnos y desarrollarnos. Tenemos claro que hay un mundo de visiones tanto culturales como contraculturales que merecen ser escuchadas y que van a ser escuchadas.</p>

        <p>No hay disciplinas totalmente separadas, hay un mundo epistémico y un desarrollo humano que, aunque no se quiera se entrelaza. Hay una diversidad infinita de maneras de tratar el mundo, de tomarlo, de observarlo a través de… pero que, al final, se encuentran en el mismo mundo, en nuestro mundo.</p>

        <p>Culturaenboca existe para <strong>INFORMARTE</strong>, <strong>IMPACTARTE</strong> Y <strong>PROYECTARTE</strong>, pero también, para <u>escuchar lo que tienes que decir</u>.</p>
      </div>
    </div>
<% include partials/footerVisible%>
<% include partials/avisos%>
<% include partials/footer%>
