<%include ./partials/header%>
<title>¿Quiénes somos?</title>
<% include partials/headerCont%>
<% include ./partials/notificaciones%>
<div class="fixed-top">
  <% include partials/navegacion%>
</div>
<div class=" header container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4 d-md-block d-none"></div>
    <div class="col col-md-4 col-sm-6">
      <div class="titulo pagina">
        <a class="nlink" style="cursor: default;" href="/my-account"><img class="up" src="/images/assets/puntiko.png" alt="Punto azul"></a>
        <span class="lines">¿QUIÉNES SOMOS?</span>
      </div>
    </div>
    <div class="col-md-4 d-md-block d-none">
      <% include partials/redesSociales%>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class=" col-12 col-sm-11 row">
      <%if (personas.length){ %>
        <h2 class="titulo quienesSomos">MIEMBROS</h2>
        <% personas.forEach(function(persona){ %>
          <% if (persona.rol<3){ %>
            <div class="col-12 card-articulo">
              <a href="/autores/<%=encodeURIComponent((persona.name+'-'+persona.surname).split(' ').join('_'))%>" class="nlink">
                <div class="row">
                    <div class="col-12 col-lg-3" style="background-image:url('<%=persona.ruta%>')">
                      <!-- <img class="img-fluid" src="<%=persona.ruta%>" alt="<%=persona.texto_alternativo%>"> -->
                    </div>
                    <div class="col-12 col-lg-9">
                      <div>
                        <img src="/images/assets/puntiko_eventos.png" alt="Punto azul">
                        <span class="underline bold"><%=persona.name%> <%=persona.surname%></span>
                      </div>
                      <div>
                        <%= persona.description %>
                      </div>
                    </div>
                  </div>
              </a>
            </div>
          <%}%>
        <% }); %>
          <h2 class="titulo quienesSomos">COLABORADORXS</h2>
        <% personas.forEach(function(persona){ %>
          <% if (persona.rol==3){ %>
            <div class="col-12 card-articulo">
              <a href="/autores/<%=encodeURIComponent((persona.name+'-'+persona.surname).split(' ').join('_'))%>" class="nlink">
                <div class="row">
                  <div class="col-12 col-md-3" style="background-image:url('<%=persona.ruta%>')">
                    <!-- <img class="img-fluid" src="<%=persona.ruta%>" alt="<%=persona.texto_alternativo%>"> -->
                  </div>
                  <div class="col-12 col-md-9">
                    <div>
                      <img src="/images/assets/puntiko_eventos.png" alt="Punto azul">
                      <span class="underline bold"><%=persona.name%> <%if(persona.surname){%><%=persona.surname%><%}%></span>
                    </div>
                    <div>
                      <%= persona.description %>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <%}%>
        <% }); %>
      <% } else { %>
        <div class="col-12">
          <div class="big-message">
            TODO EL MUNDO SE HA IDO  <i class="fa fa-frown-o" aria-hidden="true"></i>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>
<% include partials/footerVisible%>
<% include partials/avisos%>
<%include ./partials/footer%>
