<% include ../../partials/header %>
<title>Nuevo Impactarte</title>
<% include ../../partials/headerCont %>
<div class="fixed-top">
  <a class="nlink" href="/my-account/impactartes"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-md-4 col-sm-6">
      <div class="titulo pagina">
        <span class="lines">REDACT<span class="enfasis">ARTE</span></span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <form  id="editor" action="/my-account/impactartes" method="post">
    <div class="form-group">
      <label for="titulo">Título (Máx 255 caracteres)</label>
      <input class="form-control" type="text" name="impactarte[titulo]" required pattern=".{0,255}">
    </div>
    <div class="form-group">
      <label for="portada">Imagen de portada</label>
      <input id="portada" type="hidden" name="impactarte[portada]" value="1">
      <button id="portadaBtn" data-toggle="modal" data-target="#seleccionarPortada" type="button" class="btn btn-light"><i class='fa fa-image'></i></button>
      <div class="modal fade" id="seleccionarPortada" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Selecciona la imagen que quieres añadir</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body container-fluid">
              <div class="card-columns">

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button id="anadirPortada" type="button" data-dismiss="modal" class="btn btn-primary">Añadir imagen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="autores">Autores</label>
      <select id="users" data-placeholder="Autores adicionales" name="impactarte[users]" class="chosen-select btn btn-light"  multiple tabindex="1">
        <option value=""></option>
        <%users.forEach(function(user){%>
          <option value="<%=user.ID%>"><%=user.name%> <%=user.surname%></option>
        <%})%>
      </select>
    </div>
    <input id="publish" type="hidden" name="impactarte[publish]">
    <input id="articulo" type="hidden" name="impactarte[articulo]">
    <div id="editorArticulo" class="editor">
      <%include ../../partials/editorToolbar%>
    </div>
    <div id="contenido" class="editingSpace" contenteditable="true"></div>
    <div class="form-group">
      <label for="impactarte[descripcion]">Descripción</label>
      <textarea class="form-control" name="impactarte[descripcion]" rows="8" cols="80"></textarea>
    </div>
    <div class="row justify-content-end">
      <div class="col-12" style="text-align: right; margin-bottom: 2%;">
        <button id="save" type="button" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
        <button id="publishB" type="button" class="btn btn-success"><i class="fa fa-arrow-up" aria-hidden="true"></i> Publicar</button>
        <button id="cancel" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exitModal"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
      </div>
    </div>
  </form>
</div>
<div id="exitModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Seguro que quieres salir?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Si sales de esta página se perderán los cambios realizados</p>
      </div>
      <div class="modal-footer">
        <a href="/my-account/impactartes" class="btn btn-danger">Si, salir</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, quedarme</button>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/aviso %>
<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>
<% include ../../partials/footer %>
