<% include ../../partials/header %>
<title>Vista previa</title>
<% include ../../partials/headerCont %>
<%if(articulo.autores.length===1 && color !== "#000000"){%>
  <style media="screen">
    b, strong, a, a:hover, a:visited, a:active{
      color: <%=color%>;
    }
  </style>
<%}%>
<div class="container-fluid">
  <div class="row">
    <div class="fixed-top">
      <a class="nlink" href="/my-account/impactartes"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </div>
    <div class="col col-md-4 col-12 align-self-center">
    </div>
    <div class="col col-md-8">
      <div class="titulo pagina" style="text-align: left">
        <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
        <span class="lines"><%=articulo.titulo%></span>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="articulo">
        <%- articulo.texto %>
      </div>
      <div>
        <div class="row">
          <% articulo.autores.forEach(function(autor){ %>
            <div class="col-12 col-md-8 row card-articulo">
              <div class="col-12 col-md-4">
                <img class="img-fluid" src="<%=autor.ruta%>" alt="<%autor.texto_alternativo%>">
              </div>
              <div class="col-12 col-md-8">
                <img src="/images/assets/puntiko_eventos.png" alt="Punto azul">
                <span class="underline bold"><%=autor.name %> <%=autor.surname%></span>
                <p><%= autor.description%></p>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery.jslatex.js"></script>
<script type="text/javascript">
$(function () {
  $(".latex").latex();
});
</script>
<% include ../../partials/footer %>
