<%include ../../partials/header%>
<title>Nuevo usuario</title>
<% include ../../partials/headerCont %>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col col-12 col-md-4">
			<div class="titulo pagina">
				<span class="lines">REGISTR<span class="enfasis">ARTE</span></span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col col-12 col-md-6">
			<form id="registro" class="formulario" action="/my-account/users" method="post">
				<div class="form-group">
					<label for="email">E-mail</label>
					<input class="form-control" id="email" type="email" name="user[email]" required>
				</div>
				<div class="form-group">
					<label for="name">Nombre</label>
					<input class="form-control" type="text" name="user[name]" required pattern=".{0,30}" required title="El nombre no puede tener más de 30 caracteres">
				</div>
				<div class="form-group">
					<label for="surname">Apellidos</label>
					<input class="form-control" type="text" name="user[surname]"  pattern=".{0,30}" title="El apellido no puede tener más de 30 caracteres">
				</div>
        <input type="hidden" name="password">
        <div class="form-group">
          <label for="rol">Rol</label>
          <select class="custom-select" name="user[rol]">
            <%roles.forEach(function(rol){%>
              <option value="<%=rol.ID%>"><%=rol.rol.toUpperCase()%></option>
            <%})%>
          </select>
        </div>
				<div class="form-group">
					<button type="submit" class="btn btn-success" name="btn-submit">Añadir usuario</button>
          <a href="/my-account/users" class="btn btn-danger">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/formvalidation.js"></script>
<%include ../../partials/footer%>
