<% include ../../partials/header %>
<title>Usuarios</title>
<% include ../../partials/headerCont %>
<% include ../../partials/notificaciones %>
<link rel="stylesheet" href="/stylesheets/sidebar.css">
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><a href="/">CULTURAENBOCA</a></li>
      <hr>
      <li><a href="/my-account/articulos">Articulos</a></li>
      <li><a href="/my-account/eventos">Eventos</a></li>
      <li><a href="/my-account/impactartes">Impactarte</a></li>
      <li><a href="/my-account/proyectartes">Proyectarte</a></li>
      <li><a href="/my-account/imagenes">Imagenes</li>
      <li class="active"><a href="/my-account/users">Usuarios</a></li>
      <li><a href="/my-account/perfil">Perfil</a></li>
      <li><a href="/logout">Cerrar sesión<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center align-content-center">
        <div class="col-3">
          <a href="#menu-toggle" class="btn" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>
        <div class="col-9">
        </div>
      </div>
      <hr>
      <div class="row" style="font-weight:700">
        <div class="col-10">
          <div class="row">
            <div class="col-4">
              NOMBRE
            </div>
            <div class="col-3">
              APELLIDO
            </div>
            <div class="col-1">
              <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            </div>
            <div class="col-1">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
            <div class="col-3">
              ROL
            </div>
          </div>
        </div>
        <div class="col-2">
        </div>
      </div>
      <hr>
      <%users.forEach(function(user){%>
        <div class="row">
          <div class="col-10">
            <form action="/my-account/users/<%=user.ID%>?_method=PUT" method="post">
              <div class="row">
                <div class="col-4">
                  <%=user.name%>
                </div>
                <div class="col-3">
                  <%=user.surname%>
                </div>
                <div class="col-1" style="text-align:center">
                  <label class="custom-control custom-checkbox">
                    <input onchange="this.form.submit()" class="custom-control-input" type="checkbox" name="activo" <%if(user.activo){%>checked<%}%>>
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
                <div class="col-1" style="text-align:center">
                  <label class="custom-control custom-checkbox">
                    <input onchange="this.form.submit()" class="custom-control-input" type="checkbox" name="visible" <%if(user.visible){%>checked<%}%>>
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
                <div class="col-3">
                  <select onchange="this.form.submit()" class="custom-select" name="rol">
                    <%roles.forEach(function(rol){%>
                      <option value="<%=rol.ID%>" <%if(user.rol===rol.ID){%>selected<%}%>><%=rol.rol.toUpperCase()%></option>
                    <%})%>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="col-2">
            <form action="/my-account/users/<%=user.ID%>?_method=DELETE" method="post">
              <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </form>
          </div>
          </div>
        <hr>
      <%});%>
    </div>
  </div>
</div>
<div class="fixed-bottom">
  <a class="nlink" href="/my-account/users/new"><i class="fa fa-plus-circle" aria-hidden="true"></i></i></a>
</div>
<script src="/js/sidebar.js"></script>
<% include ../../partials/footer%>
