/*Caviar Dreams*/
@font-face {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
}
@font-face {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/caviar_dreams/CaviarDreams_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Brush Script';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/brush_script/BrushScriptStd.otf') format('opentype');
}
