body{
  font-family: 'Caviar Dreams';
  font-weight: 400;
  overflow-x: hidden;
}

input{
  font-weight: 700;
}


label{
  font-weight: 700;
}

.header{
  margin-top: 3vh;
}

.nlink, .nlink:visited, .nlink:hover, .nlink:active{
  color: inherit;
  text-decoration: none;
}

.center{
  text-align: center;
}

.titulo{
  font-size: calc(18px + 0.9vw);
  padding-top: 25%;
  text-align: center;
}

.enfasis{
  font-weight: 700;
  color: #92ccbc;
}

.subtitulo{
  font-size: 16px;
  color: Black;
  padding-left: 5%;
}

.underline{
  border-bottom: 3px solid #92ccbc;
}

.footer{
  margin-top: 5%;
  margin-bottom: 1%;
  width: 100%;
}

.iconos{
  font-size: calc(30px + 0.7vw);
  text-align: right;
}

.iconos i{
  transition: 0.5s;
}

.iconos i:hover{
  color: #92ccbc;
}

.titulo.pagina{
  padding-top: 0px;
  margin-top: 2%;
  text-transform: uppercase;
}

.lines{
  border-top: 3px solid #92ccbc;
  border-bottom: 3px solid #92ccbc;
}

.subtitulo.pagina{
  font-family: 'Brush Script';
  text-align: center;
  margin-top: 2%;
  font-size: calc(16px + 0.8vw);
  padding-right: 4%;
}

.articulo{
  font-size: calc(16px + 0.2vw);
  margin-top: 3%;
  text-align: justify;
}

.materia{
  display: inline-block;
  text-align: center;
  background-image:url(/images/assets/MANCHA1.png);
  background-size: cover;
  font-weight: 700;
  color: white;
  padding-top: 70px;
  padding-left: 25px;
  height: 180px;
  width: 180px;
  text-transform: uppercase;
}

.card.materias{
  background-color: white;
  border: 0px;
}

.card.materias .card-title{
  text-transform: uppercase;
  text-align: center;
  margin-top: 35%;
  padding-left: 10%;
}


.fixed-top{
  font-size: 30px;
  color: #92ccbc;
  margin-top: 15px;
  margin-left: 5%;
  width: 50px;
}

.back{
  font-size: 30px;
  color: #92ccbc;
  margin-left: 2%;
}

.fixed-bottom{
  text-align: right;
  font-size: 50px;
  color:#2b8c3b;
  margin-bottom: 15px;
  margin-right: 5%;
}

.breadcrumb{
  color: #92ccbc;
  font-weight: 700;
  font-size: 20px;
  background-color: white;
  margin-bottom: 0px;
}

.up{
  padding-bottom: 10px;
}

.formulario{
  font-weight: 700;
  margin-top: 20%;
}

.input-error{
  border-color: #f72c2c;
  border-width: medium;
}

.input-correct{
  border-color: #2bff35;
  border-width: medium;
}

.big-message{
  text-align: center;
  font-size: calc(20px + 4vw);
  font-weight: 700;
  margin-top: 15%;
}

.card-title{
  font-weight: 700;
}

.card{
  margin-top: 5%;
  position: relative;
  background-color: rgba(146, 204, 188,0.4);
}

.categoria-thumb{
  position: absolute;
  bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.categoria-thumb.left{
  left: 10px;
}

.categoria-thumb.right{
  right: 10px;
}

.bold{
  font-weight: 700;
}

.card-articulo{
    background-color: rgba(217, 247, 239, 0.7);
    border-radius: 4px;
    margin-top:2vh;
    text-align: justify;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    min-height: 25vh;
}

.card-articulo > ul {
  text-align: left;
  margin-top: 5px;
}

.card-articulo > a >.row > div:first-child{
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.card-articulo > a {
  height: 100%;
}

.card-articulo > a >.row {
  height: 100%;
}


.card-articulo > .row {
  height: 100%
}

.card-articulo > .row > div:first-child{
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.card-articulo > .row > div:nth-child(2){
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
}

.card-articulo > a >.row > div:nth-child(2){
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
}

.card-articulo > a >.row > div:first-child > img{
  border-radius: 4px;
}
.card-articulo:hover{
    transform: scale(1.02,1.02);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ajustar{
  max-width: 54px;
  max-height: 54px;
}

.editorToolbar option, .editorToolbar button, .editorToolbar select{
  font-weight: 700;
}

.editingSpace{
  margin-top: 4%;
  margin-bottom: 4%;
  height: 450px;
  overflow-y: scroll;
  border: 2px solid #92ccbc;
  font-size: calc(16px + 0.2vw);
}

.editingSpace.short{
  height: 250px;
}

.aviso{
  margin-top: 2%;
  margin-bottom: 1%;
  text-decoration: underline;
  text-align: left;
}

.card-columns input[type="radio"]{
  display: none;
}

.card-columns input[type="checkbox"]{
  display: none;
}
.card-columns input[type="radio"]:checked+img {
  border: 5px solid #92ccbc;
}

.card-columns input[type="checkbox"]:checked+img {
  border: 5px solid #92ccbc;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.titulo.quienesSomos{
  margin-top: 3vh;
  padding: 2%;
}

.titulo-proyecto{
  text-align: center;
  font-weight: 700;
}

.breadcrumb-path{
  width: 35px;
  height: 40px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.breadcrumb-path:hover{
  width: 600px;
}

.title-materia{
    font-size: calc(9px + 0.8vw);
}

.carousel-item{
  height: 70vh;
  line-height: 70vh;
  text-align:center;
}

.w-100{
  width: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

.carousel-inner{
  background-color: #92ccbc;
}

.d-block{
  display: inline-block !important;
}

.btn-outline-cultura{
  color: #92ccbc;
background-color: transparent;
background-image: none;
}

.btn-outline-cultura:hover{
  color: #fff;
background-color: #92ccbc;
}

.dropdown-item:hover{
  background-color:  #92ccbc;
  color: white;
}

.grid-recientes{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 90vh;
  width: 100%;
}

.grid-recientes-element{
  background-size: cover;
  background-position: center;
  margin: 3px 3px;
  position: relative;
  overflow: hidden;
}

.grid-recientes-element .title{
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: calc(16px + 0.2vw);
}

.grid-recientes-element .description{
  padding: 8px 8px;
  background-color: rgba(146,204,188,0.93);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100vh;
  overflow: hidden;
  color: white;
  font-weight: 700;
  opacity: 100;
  transition: all 0.5s ease-in-out;
}

.grid-recientes-element .description p{
  text-align: center;
  text-transform:uppercase;
}

.grid-recientes-element:hover .description{
  top: 0;
}

.square{
  grid-column: span 1;
  grid-row: span 1;

}

.long{
  grid-column: span 2;
  grid-row: span 1;
}

.big{
  grid-row: span 2;
  grid-column: span 2;
}

#proyect{
  padding-top: 5%;
}

#qsomos{
  text-align: right;
  padding-left: 0px;
  padding-right: 5%;
}

.logoup{
  display: none;
}

#titulo-pagina{
  margin-bottom: 10%;
}

#titulo-pagina h1{
    font-size: calc(18px + 2vw);
  font-weight: 700;
  text-align: center;
  color: #92ccbc;
}

#fotoPerfil {
  position: relative;
}

#imgPerfil{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

#disqus_thread{
  margin-top: 10vh;
}

.perfilOverlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:5%;
  left: 33%;
}

.panel-notificaciones{
  position: absolute;
  z-index: 999;
  right: 10px;
  top: 10px;
  width: 100%;
}

#fotoPerfil:hover #imgPerfil{
  opacity: 0.3;
}

#fotoPerfil:hover .perfilOverlay{
  opacity: 1;
}

@media screen and (max-width:767px)  {
  .logoup{display: inline;}
  .logodown{ display: none;}
  .titulo{
    padding-top: 5%;
  }
  .landing{
        text-align: left;
  }

  .card-articulo > a >.row > div:first-child{
    min-height: 40vh;
  }

  .card-articulo > .row > div:first-child{
    min-height: 40vh
  }

}
