<% include ../partials/header%>
<title>Aviso legal</title>
<% include ../partials/headerCont%>
    <div class="fixed-top">
      <% include ../partials/navegacion%>
    </div>
    <div class="header container-fluid">
      <div class="row justify-content-center">
        <div class="col col-md-6 col-sm-6">
          <div class="titulo pagina">
            <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
            <span class="lines">AVISO LEGAL</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="articulo">
        <h3 class="aviso">Todos los derechos reservados</h3>
        <p>De acuerdo con el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico ponemos a su disposición los siguientes datos:</p>
        <p>Para el presente documento <a href="https://www.culturaenboca.com">https://www.culturaenboca.com</a> será a partir de ahora denominada como culturaenboca y si referencia quedará ligada a tal dirección.</p>
        <p>En la web de culturaenboca hay una serie de contenidos de carácter informativo sobre artículos de caracter académico y divulgativo, eventos de actualidad, proyectos artísticos y entrevistas que muestran las obras y/o proyectos relativos a otros autores y autoras.</p>
        <p>Su principal objetivo es facilitar al público en general, la información anteriormente descrita y crear una interacción con los/las mismos/as a través de los comentarios en esta web y la retroalimentación en las redes sociales.</p>
        <p>Todos los trabajos realizados por cualquiera de los integrantes de esta página, incluyendo material escrito, imágenes, logo/s, diseño y material audiovisual son propiedad de sus miembros o se acogen a la Ley 34/2002. Para el uso del material firmado tanto con nombres o pseudónimos de cualquiera de las secciones de culturaenboca será necesario contactar con dichas personas a través del correo facilitado en el apartado de contacto. </p>
        <p>culturaenboca se reserva expresamente el derecho a modificar el presente Aviso Legal. El usuario reconoce y acepta que es su responsabilidad revisar la Web y el presente Aviso Legal.</p>
      </div>
    </div>
<% include ../partials/footerVisible%>
<% include ../partials/avisos%>
<% include ../partials/footer%>
