<% include ../partials/header%>
<title>Contacto</title>
<% include ../partials/headerCont%>
    <div class="fixed-top">
      <% include ../partials/navegacion%>
    </div>
    <div class="header container-fluid">
      <div class="row justify-content-center">
        <div class="col col-md-4 col-sm-6">
          <div class="titulo pagina">
            <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
            <span class="lines">CONTACTO</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div style="margin-top:10%">
        <h3 class="aviso">Dirígete a nosotrxs a través del correo:</h3>
        <h2>contacto@culturaenboca.com</h2>
        <h3 class="aviso">Tambien nos puedes encontrar en las redes</h3>
        <div class="iconos" style="text-align:left">
          <a class="nlink" href="https://www.facebook.com/culturaenboca/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a class="nlink" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a class="nlink" href="https://twitter.com/Culturaenboca"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a class="nlink" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
<% include ../partials/footerVisible%>
<% include ../partials/avisos%>
<% include ../partials/footer%>
