<% include ../partials/header%>
<title>Términos y condiciones</title>
<% include ../partials/headerCont%>
    <div class="fixed-top">
      <% include ../partials/navegacion%>
    </div>
    <div class="header container-fluid">
      <div class="row justify-content-center">
        <div class="col col-md-6 col-sm-6">
          <div class="titulo pagina">
            <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
            <span class="lines">TÉRMINOS Y CONDICIONES</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="articulo">
        <p>Los siguientes términos y condiciones se aplican a las web <a href="https://www.culturaenboca.com">https://www.culturaenboca.com</a> Que en el presente documento aparecerán citadas en lo sucesivo como el “dominio web”</p>
        <h3 class="aviso">Responsabilidades</h3>
        <p><em>culturaenboca</em> rechaza toda responsabilidad derivada del uso incorrecto de los contenidos que aparecen en la web y se reserva el derecho a modificarlos, actualizarlos e impedir el acceso a ellos de forma total, parcial, temporal o indefinida.</p>
        <p>Asimismo, rechaza toda responsabilidad sobre cualquier información no contenida en el dominio web y no elaborada o publicada en su nombre, de esta forma rechaza toda la responsabilidad sobre la información contenida en webs de terceras personas conectadas por enlaces a nuestro dominio así como los mensajes que contengan dichas publicaciones en webs ajenas, por último tampoco se responsabiliza de las opiniones vertidas por usuarios a través de las distintas herramientas de participación habilitadas en el dominio web.</p>
        <p><em>culturaenboca</em> no se responsabilizará de posibles errores de seguridad producidos por el uso de ordenadores infectados con virus informáticos ni de las consecuencias derivables de un mal uso del navegador o versiones no actualizadas.</p>
        <h3 class="aviso">Condiciones de uso</h3>
        <p>En cumplimiento de lo establecido en la ley 34/2002 de servicios de la sociedad de la información y comercio electrónico, informamos que todos los contenidos que incluyen logotipos, artículos, imágenes propias, archivos de audio y vídeo son propiedad de culturaenboca.</p>
        <p>La reproducción, copia, uso no autorizado, distribución y comercialización pública o con ánimo de lucro que tenga lugar con cualquier información publicada en el dominio web efectuada sin la autorización previa del dominio web es una infracción castigada por la legislación vigente.</p>
        <p>El dominio web autoriza el uso de textos y material audiovisual siempre y cuando se contacte previamente con los responsables del dominio web y estos autoricen su uso según las condiciones estipuladas por ambas partes.</p>
        <h3 class="aviso">Usuarios</h3>
        <p>El acceso y/o uso del portal <a href="https://www.culturaenboca.com">https://www.culturaenboca.com</a> atribuye la condición de USUARIO, que acepta, desde dicho acceso y/o uso, las Condiciones de Uso aquí reflejadas. El usuario acepta que el uso del portal y de los contenidos se lleva a cabo bajo su única y exclusiva responsabilidad.</p>
        <p>En caso de que el usuario sea menor de edad habrá de obtener previamente permiso de sus padres, tutores o representantes legales, quienes serán considerados responsables a todos los efectos de todos los actos realizados por los menores a su cargo.</p>
        <h3 class="aviso">Modificación de las condiciones de uso</h3>
        <p>El dominio web se reserva el derecho en cualquier momento y sin previo aviso de modificar estas condiciones así como condiciones particulares de uso que se incluyan mediante la publicación de dichas modificaciones en los mismos.</p>
        <h3 class="aviso">Legislación aplicable y jurisdicción</h3>
        <p>Las condiciones de uso están regidas conforme a las legislaciones española e internacional vigentes.</p>
      </div>
    </div>
<% include ../partials/footerVisible%>
<% include ../partials/avisos%>
<% include ../partials/footer%>
