<% include ../../partials/header %>
<title><%=articulo.titulo%></title>
<% include ../../partials/headerCont%>
<%if(articulo.autores.length===1 && color !== "#000000"){%>
  <style media="screen">
    b, strong, a, a:hover, a:visited, a:active{
      color: <%=color%>;
    }
  </style>
<%}%>
<div class="fixed-top">
  <a class="nlink" href="/my-account/articulos"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="titulo pagina">
        <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
        <span class="lines"><%=articulo.titulo%></span>
      </div>
    </div>
    <% if (articulo.subtitulo) {%>
      <div class="col col-12">
        <div class="subtitulo pagina">
          <%= articulo.subtitulo %>
        </div>
      </div>
    <% } %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="articulo">
        <%- articulo.articulo %>
      </div>
      <div>
        <div class="row">
          <% articulo.autores.forEach(function(autor){ %>
            <div class="col-12 col-md-12 row card-articulo">
              <div class="col-12 col-md-2">
                <img class="img-fluid" src="<%=autor.ruta%>" alt="<%=autor.alt%>">
              </div>
              <div class="col-12 col-md-10">
                <img src="/images/assets/puntiko_eventos.png" alt="Punto azul">
                <span class="underline bold"><%=autor.name %> <%=autor.surname%></span>
                <p><%= autor.description%></p>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery.jslatex.js"></script>
<script type="text/javascript">
$(function () {
  $(".latex").latex();
});
</script>
<% include ../../partials/footer %>
