<% include ../partials/header%>
<title>Recuperar contraseña</title>
<% include ../partials/headerCont%>
<div class="fixed-top">
	<a class="nlink" href="/login"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</div>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col col-12 col-md-4">
			<div class="titulo pagina">
				RECORD<span class="enfasis">ARTE</span>
			</div>
		</div>
	</div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-12 col-md-6">
      <form id="resetPassword" class="formulario" action="/forgotpassword" method="post">
				<% if (message) {%>
					<% message.forEach(function(mess){ %>
						<div class="alert alert-danger">
							<%= mess %>
						</div>
					<% }) %>
				<% } %>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input class="form-control" id="email" type="email" name="email" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" name="btn-submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer%>
