<% include ../partials/header%>
<title>Adentrarte</title>
<% include ../partials/headerCont%>
<% include ../partials/notificaciones%>
<div class="fixed-top">
  <a class="nlink" href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-12 col-md-4">
      <div class="titulo pagina">
        ADENTRARTE<span class="enfasis">ARTE</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-12 col-md-6">
      <form id="inicioSesion" class="formulario" action="/login" method="post">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input class="form-control" id="email" type="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input class="form-control" type="password" name="password" required>
        </div>
        <div class="form-group">
          <div class="form-check">
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" name="remember">
              <span class="custom-control-indicator"></span>
              Recordarme
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" name="btn-submit">Iniciar sesion</button>
          <!-- <a class="link" href="/forgotpassword">¿Olvidaste tu contraseña?</a> -->
        </div>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer%>
