<% include ../partials/header%>
<title>Recuperar contraseña</title>
<% include ../partials/headerCont%>
<div class="fixed-top">
	<a class="nlink" href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</div>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col col-12 col-md-4">
			<div class="titulo pagina">
				CAMBIARTE<span class="enfasis">ARTE</span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col col-12 col-md-6">
			<form id="resetpassword" class="formulario" action="/resetpassword/<%=token.ID%>" method="post">
				<div class="form-group">
					<label for="password">Contraseña</label>
					<input class="form-control" type="password" name="password" required>
				</div>
				<div class="form-group">
					<label for="password-confirm">Confirmar Contraseña</label>
					<input class="form-control" type="password"  name="password-confirm" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" name="btn-submit">Cambiar contraseña</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/formvalidation.js"></script>
<% include ../partials/footer%>
