<% include ../partials/header%>
<title>Registrarte</title>
<% include ../partials/headerCont%>
<div class="fixed-top">
	<a class="nlink" href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</div>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col col-12 col-md-4">
			<div class="titulo pagina">
				REGISTR<span class="enfasis">ARTE</span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col col-12 col-md-6">
			<form id="registro" class="formulario" action="/signup" method="post">
				<div class="form-group">
					<label for="email">E-mail</label>
					<input class="form-control" id="email" type="email" name="email" required>
				</div>
				<div class="form-group">
					<label for="name">Nombre</label>
					<input class="form-control" type="text" name="name" required pattern=".{0,30}" required title="El nombre no puede tener más de 30 caracteres">
				</div>
				<div class="form-group">
					<label for="surname">Apellidos</label>
					<input class="form-control" type="text" name="surname" required pattern=".{0,30}" required title="El apellido no puede tener más de 30 caracteres">
				</div>
				<div class="form-group">
					<label for="password">Contraseña</label>
					<input class="form-control" type="password" name="password" required>
				</div>
				<div class="form-group">
					<label for="password-confirm">Confirmar Contraseña</label>
					<input class="form-control" type="password"  name="password-confirm" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" name="btn-submit">Registrarse</button>
					<a class="link" href="/login">¿Ya tienes una cuenta? Inicia sesión aqui</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/formvalidation.js"></script>
<% include ../partials/footer%>
