<% include ../../partials/header %>
<title>Imagenes</title>
<% include ../../partials/headerCont%>
<% include ../../partials/notificaciones%>
<link rel="stylesheet" href="/stylesheets/sidebar.css">
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><a href="/">CULTURAENBOCA</a></li>
      <hr>
      <li><a href="/my-account/articulos">Articulos</a></li>
      <%if(rol<=2){%>
      <li><a href="/my-account/eventos">Eventos</a></li>
      <li><a href="/my-account/impactartes">Impactarte</a></li>
      <li><a href="/my-account/proyectartes">Proyectarte</a></li>
      <%}%>
      <li class="active"><a href="#">Imagenes</li>
      <%if(rol==1){%>
      <li><li><a href="/my-account/users">Usuarios</a></li></li>
      <%}%>
      <li><a href="/my-account/perfil">Perfil</a></li>
      <li><a href="/logout">Cerrar sesión<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <a href="#menu-toggle" class="btn" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <div class="row justify-content-center">
        <%if (imagenes.length){%>
          <div class="card-columns">
          <% imagenes.forEach(function(imagen){%>
            <div class="card">
              <img class="card-img" src="<%=imagen.ruta%>" alt="<%=imagen.texto_alternativo%>">
              <div class="card-img-overlay">
                <div class="row align-items-end">
                  <div class="col-12" style="text-align:right">
                    <form action="/my-account/imagenes/<%=imagen.ID%>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
        <% } else { %>
          <div class="col-12">
            <div class="big-message">
              NO HAS USADO NINGUNA IMAGEN <i class="fa fa-smile-o" aria-hidden="true"></i>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="fixed-bottom">
    <a data-toggle="modal" data-target="#subirImagen"><i class="fa fa-plus-circle" aria-hidden="true"></i><a>
  </div>
</div>
<div id="subirImagen" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Subir imagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form enctype="multipart/form-data" action="/my-account/imagenes" method="post">
        <div class="modal-body">
          <label for="imagen">Imagen</label>
          <input class="form-control" type="file" name="imagen">
          <hr>
          <input class="form-control" type="text" name="texto_alternativo" placeholder="Escribe aqui el texto alternativo">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Subir</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/sidebar.js"></script>
<% include ../../partials/footer %>
