<% include ../partials/header %>
<title>Proyectarte</title>
<% include ../partials/headerCont%>
<div class="fixed-top">
  <% include ../partials/navegacion%>
</div>
<div class="header container-fluid">
  <div class="row">
    <div class="col-md-2 d-md-block d-none"></div>
    <div class="col-12 col-md-8 justify-content-center">
      <div class="titulo pagina">
        <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
        <span class="lines">PROYECT<span class="enfasis">ARTE</span></span>
      </div>
    </div>
    <div class="col-md-2 d-md-block d-none">
      <% include ../partials/redesSociales%>
    </div>
    <div class="col col-12">
      <div class="subtitulo pagina">
        Todos los proyectos
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class=" col-12 col-sm-10 row">
    <%if (impactartes.length){ %>
      <% impactartes.forEach(function(impactarte){ %>
        <div class="col-12 col-sm-6 col-md-4">
          <a class="nlink" href="/proyectartes/<%=encodeURIComponent(impactarte.titulo.split(' ').join('_'))%>">
            <div class="card">
              <img class="card-img-top" src="<%=impactarte.ruta%>" alt="<%=impactarte.texto_alternativo%>">
              <div class="card-body">
                <p class="card-title titulo-proyecto"><%=impactarte.titulo%></p>
                <p class="card-text"><%=impactarte.descripcion%>...</p>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    <% } else { %>
      <div class="col-12">
        <div class="big-message">
          ESTAMOS TRABAJANDO EN NUEVOS PROYECTOS <i class="fa fa-smile-o" aria-hidden="true"></i>
        </div>
      </div>
    <% } %>
  </div>
</div>
<% include ../partials/footerVisible%>
<% include ../partials/avisos%>
<% include ../partials/footer %>
