<% include ../partials/header %>
<title><%=impactarte.titulo%></title>
<meta property="og:title" content="<%=impactarte.titulo%>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.culturaenboca.com/proyectartes/<%=encodeURIComponent(impactarte.titulo.split(' ').join('_'))%>" />
<meta property="og:image" content="https://www.culturaenboca.com<%=impactarte.ruta%>" />
<% include ../partials/headerCont%>
<%if(impactarte.autores.length===1 && color !== "#000000"){%>
  <style media="screen">
    b, strong, a, a:hover, a:visited, a:active{
      color: <%=color%>;
    }
  </style>
<%}%>
<div class="fixed-top">
  <% include ../partials/navegacion%>
</div>
  <div class="header row justify-content-center">
    <div class="col-md-2 d-md-block d-none"></div>
    <div class="col-12 col-md-8">
      <div class="titulo pagina">
        <img class="up" src="/images/assets/puntiko.png" alt="Punto azul">
        <span class="lines"><%=impactarte.titulo%></span>
      </div>
  </div>
  <div class="col-md-2 d-md-block d-none">
    <% include ../partials/redesSociales%>
  </div>
  <div class="col-12">
    <div class="subtitulo pagina">
      Proyectarte
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="articulo">
        <%- impactarte.texto %>
      </div>
      <div>
        <div class="row justify-content-center">
          <div class="col-11 col-sm-4 card-articulo" style="text-align:center; min-height:0vh">
            <h3 style="padding-top:4px">Realizado por</h3>
            <ul>
              <% impactarte.autores.forEach(function(autor){ %>
                <li><span class="underline bold"><%=autor.name %> <%=autor.surname%></span></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div id="disqus_thread"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var disqus_config = function () {
this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "proyecto/"+<%=impactarte.ID%>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://culturaenboca.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script type="text/javascript" src="/js/jquery.jslatex.js"></script>
<script type="text/javascript">
$(function () {
  $(".latex").latex();
});
</script>
<% include ../partials/footerVisible%>
<% include ../partials/avisos%>
<% include ../partials/footer %>
